<!DOCTYPE html>
<html>
	<head>
		<title>Bucket List</title>
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>

	<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href="#">My Bucketlist</a>
				</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
					  		<li class="active"><a href="#">Home</a></li>
					  		<li class="dropdown">
					   		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bucketlist<span class="caret"></span></a>
					   	<ul class="dropdown-menu">
					     	<li><a href="../../add_item.html">Add Item</a></li>
					     	<li><a href="../../add_category.html">Add Category</a></li>
					     	<li><a href="../../category_list.html">Category List</a></li>
					     	

						</ul>
					     </li>
					    </ul>
					     <ul class="nav navbar-nav navbar-right">
					 
					       <li><a href="#">Profile</a></li>
					       <li><a href="/logout">Logout</a></li>
					     </ul>
      	    		</div>
			</div>
	</nav>

            	 <div class="container">
					<table class="table"> 
					 	<thead>
					 		<tr>
					 			<th>#</th>
					 			<th>Item Name</th>
					 			<th>Description</th>
					 			<th>Date</th>
					 			<th>Category</th>
					 			<th>View</th>
					 			<th>Edit</th>
					 		</tr>
					 	</thead>
					 	<tbody>
					 		<tr>
					 			<th scope="row">1</th>
					 			<td>Travelling</td>
					 			<td>Travel to Dubai</td>
					 			<td>01/12/2017</td>
					 			<td>Travel</td>
					 			<td>
					 				<button type="button" class="btn btn-primary navbar-btn">View</button>
					 			</td>
					 			<td>
					 				<button type="button" class="btn btn-info navbar-btn">Edit</button>
					 			</td>
					 		</tr>
					 		<tr>
					 			<th scope="row">2</th>
					 			<td>Learning</td>
					 			<td>Learn how to swim</td>
					 			<td>01/09/2017</td>
					 			<td>Entertainment</td>
					 			<td>
					 				<button type="button" class="btn btn-primary navbar-btn">View</button>
					 				</td>
					 				<td>
					 				<button type="button" class="btn btn-info navbar-btn">Edit</button>
					 			</td>
					 		</tr>
					 		<tr>
					 			<th scope="row">3</th>
					 			<td>Develop</td>
					 			<td>Develop an app</td>
					 			<td>01/10/2017</td>
					 			<td>Books</td>
					 			<td>
					 				<button type="button" class="btn btn-primary navbar-btn">View</button>
					 			</td>
					 			<td>
					 			<button type="button" class="btn btn-info navbar-btn">Edit</button>
					 			</td>
					 		</tr>
					 	</tbody>
					</table>      
				</div>
<script type="text/javascript"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>