{% extends "base.html" %}
{%  block content %}
<div class="container">
<h2>Bucket List Items</h2>
<p>Bucket List Items</p>
<p>{{my_name}}</p>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
         {% for item in bucket_list_itemss %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.category }}</td>
                <td>
                    
                    <a href ='/edititem?id={{item.id}}' class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                </td>

                <td>
                    <a href ='/delete?id={{item.id}}' class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

